body{
  font-family: "Source Code Pro", monospace;
  color: #4fa3c4;
  Background-color:#636769;
}
h3{
  font-family: "Source Code Pro", monospace;
  color: #4fa3c4;
}
button{
  font-family: "Source Code Pro", monospace;
  color: #4fa3c4;
  background-color:#4f4f4f;
  border: 2px solid black;
  border-radius: 17px;
  width: 100px;
  height: 30px;
}
input{
  border: 0px solid black;
  background-color: #636769;
  color: #4fa3c4;
}
placeholder{
  color: #4fa3c4;
}

.bigpadding{
  padding: 250px;
}
.wt-btn_sign {
    font-size: 23px;
  font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: -.21px;
    white-space: nowrap;
    -webkit-transition: color .3s;
    -o-transition: color .3s;
    -moz-transition: color .3s;
    transition: color .3s;
    line-height: 20px;  
    color: #4fa3c4;
    background: #2d2e2d;
    border: none;
    height: 45px;
    padding: 0 5px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
}

.wt-btn_sign:hover {
    color: white;
    background: #000791;
    }

.wt-btn_sign-bound {
    display: block;
    overflow: hidden;
}

.wt-btn_sign-bound span {
    position: relative;
    display: inline-block;
  padding:0 22px;
        -webkit-animation: wt-btn_sign-marquee 2s linear infinite;
        -moz-animation: wt-btn_sign-marquee 2s linear infinite;
        -o-animation: wt-btn_sign-marquee 2s linear infinite;
        animation: wt-btn_sign-marquee 2s linear infinite;
}

.wt-btn_sign-bound span:after {
        content:attr(data-text);
        position: absolute;
        left: 100%;
        padding: 0 23px;
    }

@-webkit-keyframes wt-btn_sign-marquee {
    0% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }

    100% {
        -webkit-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0)
    }
}

@-moz-keyframes wt-btn_sign-marquee {
    0% {
        -moz-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }

    100% {
        -moz-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0)
    }
}

@-o-keyframes wt-btn_sign-marquee {
    0% {
        transform: translate3d(0,0,0)
    }

    100% {
        transform: translate3d(-100%,0,0)
    }
}

@keyframes wt-btn_sign-marquee {
    0% {
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }

    100% {
        -webkit-transform: translate3d(-100%,0,0);
        -moz-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0)
    }
}

.col {
  width: 100px;
  height: 100px;
  border: 2px solid black;
}

.preview{
  width: 50px;
  height: 20px;
  border: 2px solid black;
}

#hiddenInput {
  background-color: transparent;
  border: none;
  outline: none;
  color: transparent;
  text-shadow: 0 0 0 black;
}

.runawayButton {
  position: absolute;
  color: #4fa3c4;
  background-color: darkgrey;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.cursor {
    position: absolute;
    z-index: 100;
    width: 17px;
    height: 23px;
    background-image: url("images/default.png");
    background-repeat: no-repeat;
    background-size: contain;
    will-change: transform;
  }
  
  .pointer_lock_banner {
    position: fixed;
    z-index: 50;
    display: flex;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    border: 10px dashed #fff;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
  }
  
  .fan_block {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 60vh;
    margin: auto 0;
  }
  
  .fan {
    position: absolute;
    right: 0;
    width: auto;
    height: 100%;
  }
  
  .wind {
    position: absolute;
    top: 1vh;
    width: calc(100vw - (60vh * (481 / 812)) + 7vh);
    height: 46vh;
    background-image: url("images/wind.png");
    background-repeat: repeat;
    background-size: calc(46vh / 8);
    will-change: background-position;
  }
  
  .clickme {
    position: absolute;
    top: 0;
    right: 12vh;
    bottom: 0;
    display: block;
    width: auto;
    height: 49px;
    padding: 15px;
    margin: auto 0;
    background-color: #ff787e;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
  }
  
  @media (max-height: 450px) {
    .wind {
      background-size: calc(46vh / 7);
    }
  }
  
  @media (max-height: 400px) {
    .wind {
      background-size: calc(46vh / 6);
    }
  }
  
  @media (max-height: 350px) {
    .wind {
      background-size: calc(46vh / 5);
    }
  }
  
  @media (max-height: 300px) {
    .wind {
      background-size: calc(46vh / 4);
    }
  }
  
  @media (max-height: 250px) {
    .wind {
      background-size: calc(46vh / 3);
    }
  }
